<div class = "container">
   
   <div class = "row">
		
		<div class = "col-md-12">
			<div class="page-header">
				<h1>Team</h1>
			</div> <!--page-header-->
		</div>
		
	</div>
			
		
	<div class = "row">
		
		<div class = "col-md-3">
			<img src="https://pbs.twimg.com/profile_images/3747202848/ca31af036af09d719f6be53b9c3cd903.jpeg" class="img-rounded img-responsive">
		</div>
      <div class = "col-md-8">
			<div class="jumbotron">
				<p> My name is Hunter Kiely. I am learning to become the king of responsive webdesign, rails, ruby, python, and bioinformatics. </p>
			</div>
		</div>
		
   </div>
   
</div>